<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!--<bean class="com.magzim.creditcard.repository.mock.MockUserRepositoryImpl" name="mockUserRepository"/>

    <bean class="com.magzim.creditcard.repository.mock.MockUserCardRepositoryImpl" name="mockUserCardRepository"/>

    <bean class="com.magzim.creditcard.service.UserServiceImpl">
            <property name="repository" ref="mockUserRepository"/>
    </bean>

    <bean class="com.magzim.creditcard.service.UserCardServiceImpl">
        <property name="repository" ref="mockUserCardRepository"/>

    </bean>-->

    <import resource="spring-tools.xml"/>

    <context:annotation-config/>

    <context:component-scan base-package="com.magzim.**.service"/>

    <context:component-scan base-package="com.magzim.**.web"/>

</beans>