<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>com.magzim.creditcard.web.ClientServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cardServlet</servlet-name>
        <servlet-class>com.magzim.creditcard.web.CardServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>cardServlet</servlet-name>
        <url-pattern>/cards</url-pattern>
    </servlet-mapping>

</web-app>
